<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        label{
            display: block;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<a href="{% url 'logout_page' %}">Logout</a>
<a href="{% url 'rooms_page' %}">Rooms</a>



{% for booking in bookings %}
    <div>Бронь на имя: {{ booking }}</div>
    <div>Бронь с: {{ booking.checkin }}</div>
    <div>Бронь до: {{ booking.checkout }}</div>
    <div>Бронь на номер: {{ booking.room.room_number }}</div>

    <form action="delete_booking" method="post">
    {% csrf_token %}
        <input name="booking_id" value="{{ booking.id }}" hidden="hidden">
        <button>Удалить</button>
    </form>
    <br>
    <form action="{% url 'edit_booking_page' booking_id=booking.id %}">
        <button>Изменить</button>
    </form>
{% endfor %}
</body>
</html>