<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            font-size: 24px;
            font-weight: bold;
            color: #333;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
<a href="{% url 'logout_page' %}">Logout</a>
<a href="{% url 'rooms_page' %}">Rooms</a>
<a href="{% url 'booking_page' %}">Booking</a>

<div>Добро пожаловать в наш уютный уголок роскоши и комфорта, дорогой {{ guest.username }}!
    Мы рады приветствовать вас в нашем идеальном месте для отдыха, где каждая деталь заботливо продумана для вашего удобства.
Мы предлагаем великолепное сочетание современного стиля и теплой домашней атмосферы.
    Наш персонал стремится сделать ваше пребывание незабываемым, обеспечивая первоклассное обслуживание и внимание к каждому гостю.

Независимо от того, приезжаете ли вы на бизнес или отдыхаете с семьей,
    у нас есть все необходимое для вашего комфорта — просторные и элегантные номера,
    изысканные рестораны с богатым выбором блюд, а также современные удобства для вас и вашей семьи.

Мы гордимся тем, что мы являемся вашим домом вдали от дома.
    Надеемся, что ваше пребывание у нас принесет вам радость и отдых, оставив самые приятные воспоминания.

С нетерпением ждем вас здесь, где каждый гость для нас особенный!

</div>

</body>
</html>